<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Blog | Admin{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
            <link rel="stylesheet" href="{{ asset('build/css/admin.css') }}">
            <link rel="stylesheet" href="{{ asset('build/css/sb-admin.css') }}">
        {% endblock %}
    </head>
    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
        {% block nav %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
                <a class="navbar-brand" href="{{ path('homepage') }}">Blog</a>
                <button class="navbar-toggler navbar-toggler-right" type="button"
                        data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                            <a class="nav-link" href="{{ path('admin_dashboard') }}">
                                <i class="fa fa-fw fa-dashboard"></i>
                                <span class="nav-link-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Posts">
                            <a class="nav-link nav-link-collapse collapsed"
                               data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
                                <i class="fa fa-fw fa-file-text"></i>
                                <span class="nav-link-text">Posts</span>
                            </a>
                            <ul class="sidenav-second-level collapse" id="collapseComponents">
                                <li>
                                    <a href="{{ path('admin_post_index') }}">List</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_post_index') }}">New</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav sidenav-toggler">
                        <li class="nav-item">
                            <a class="nav-link text-center" id="sidenavToggler">
                                <i class="fa fa-fw fa-angle-left"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <form class="form-inline my-2 my-lg-0 mr-lg-2">
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="Search for...">
                                    <span class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                  <i class="fa fa-search"></i>
                                </button>
                              </span>
                                </div>
                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                                <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endblock %}

        {% block content %}
            <div class="content-wrapper">
                {% block main %}{% endblock %}
                <footer class="sticky-footer">
                    <div class="container">
                        <div class="text-center">
                            <small>Copyright © Your Website 2018</small>
                        </div>
                    </div>
                </footer>
                <a class="scroll-to-top rounded" href="#page-top">
                    <i class="fa fa-angle-up"></i>
                </a>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-primary" href="login.html">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% block javascripts %}
                    <script src="{{ asset('build/manifest.js') }}"></script>
                    <script src="{{ asset('build/js/common.js') }}"></script>
                    <script src="{{ asset('build/js/app.js') }}"></script>
                    <script src="{{ asset('build/js/admin.js') }}"></script>
                    <script src="{{ asset('build/js/sb-admin.js') }}"></script>
                    <script src="{{ asset('build/js/sb-admin-datatables.js') }}"></script>
                {% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
